*
{
	margin: 0;
	padding: 0;
}

#clock
{
	border: 2px solid red;
	margin: 0 auto;
	text-align: center;
}

.greeting
{
	border: 2px solid blue;
	margin: 0 auto;
	text-align: center;
}

/* #background
{
	background-image: url('img/Afternoon.jpg');
	width: 500px;
	height: 500px;
}
 */