*
{
	margin: 0;
	padding: 0;
}

#clock
{
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	background:rgba(1,1,1,0.5);
}

#greeting
{
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	background:rgba(1,1,1,0.5);/*Makes the background a RGBA color and sets opacity*/
}